body {
    background-color: azure;
}

div {
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    border-bottom: 3px solid aquamarine;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: auto 930px;
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 22px;
}

span {
    font-weight: bold;
    margin: 15px 0;
}

img {
    width: 260px;
    margin-top: 20px;
    margin-bottom: 50px;
}

a {
    color: white;
    background-color: rgb(228, 52, 87);
    border: 3px solid rgb(195, 55, 4);
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 30px;
}